body{
    background-color:#e5e5e5;
    font-family: 'Roboto';
}

section{
    position: fixed;
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    z-index: 3;
}

.loading{
    z-index: 2;
}

section img:first-child{
    margin-top: 90px;
    width: 120px;
    height: 90px;
    margin-right: 25px;
}

section img:nth-child(2){
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.name{
    margin-top: 80px;
    width: 250px;
    height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    text-align: center;
}

.name::placeholder{
    text-align: center;
    font-size: 16px;
}

.name:focus{
    outline: 0;
}

button{
    height: 45px;
    width: 80px;
    margin-top: 10px;
    border: none;
    border-radius: 9px;
    background-color: #e6e6e6;
    color: #7e7d7d;
    font-size: 16px;
    cursor: pointer;
}

button:focus{
    border: 0 none;
    outline: 0;  
}

header, footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: #FFF;
    z-index: 1;
    left: 0;
    right: 0;
}
header{
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon{
    font-size: 42px;
    margin-right: 24px;
    cursor: pointer;
}

main{
    margin: 100px 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.status, .message, .private_message{
    display: flex;
    align-items: center;
    font-size: 14px;
    min-height: 40px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 4px;  
}

.status{
    background-color: #dcdcdc;
}

.message{
    background-color: #FFF;
}

.private_message{
    background-color: #FFDEDE;
}

main p{
    margin: 0 8px;
    line-height: 16px;
    word-break: break-word; 
}

.time{
    color: #7e7d7d;
}

aside{
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.sidebar{
    background-color: #fff;
    width: 259px;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    animation-duration: .4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      width: 0%;
    }
  
    to {
      width: 259px;
    }
}

.title{
    font-weight: bold;
    font-size: 16px;
    margin: 30px;
    text-align: center;
}

.contact, .visibility{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 10px 15px;
}

.option{
    display: flex;
    align-items: center;
}

.sidebarContent{
    animation-duration: 3s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

.sidebar .p{
    font-size: 16px;
}

.sidebarIcon{
    font-size: 20px;
    margin-right: 8px;
}

.checkIcon{
    color: #28BB25;
    font-size: 15px;
}

footer{
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.communication{
    height: 85%;
    width: 70%;
    margin-left: 17px;
    color: #000;
    border: none;
    font-size: 18px;
}

.communication::placeholder{
    color: #000;
    font-style: italic;
}

.communication:focus{
    border: 0 none;
    outline: 0;
    color: #000;
}

footer ion-icon{
    font-size: 26px;
    margin-right: 24px;
    cursor: pointer;
}

.hidden{
    display: none;
}




